{{ define "dahua-base-drawer-button" }}
  <div class="flex-none">
    <label
      for="my-drawer-2"
      class="drawer-button btn btn-square btn-ghost lg:hidden"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block w-5 h-5 stroke-current"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        ></path>
      </svg>
    </label>
  </div>
{{ end }}


<div class="drawer lg:drawer-open">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content overflow-x-auto">
    <div class="min-h-screen">
      {{ block "dahua-base-body" . }}Template: {{ .Template }}{{ end }}
    </div>
  </div>
  <div class="drawer-side z-20">
    <label for="my-drawer-2" class="drawer-overlay"></label>
    <ul class="menu bg-base-200 text-base-content h-full w-60 p-4">
      <li>
        <a
          hx-boost="true"
          href="/dahua"
          {{ if eq "/dahua" .URL.Path }}class="active"{{ end }}
        >
          Home
        </a>
      </li>
      <li>
        <a
          hx-boost="true"
          href="/dahua/devices"
          {{ if hasPrefix "/dahua/devices" .URL.Path }}class="active"{{ end }}
        >
          Devices
        </a>
      </li>
      <li>
        <a
          hx-boost="true"
          href="/dahua/streams"
          {{ if hasPrefix "/dahua/streams" .URL.Path }}class="active"{{ end }}
        >
          Streams
        </a>
      </li>
      <li>
        <a
          hx-boost="true"
          href="/dahua/snapshots"
          {{ if hasPrefix "/dahua/snapshots" .URL.Path }}class="active"{{ end }}
        >
          Snapshots
        </a>
      </li>
      <li>
        <a
          hx-boost="true"
          href="/dahua/files"
          {{ if hasPrefix "/dahua/files" .URL.Path }}class="active"{{ end }}
        >
          Files
        </a>
      </li>
      <li>
        <a
          hx-boost="true"
          href="/dahua/storage"
          {{ if hasPrefix "/dahua/storage" .URL.Path }}
            class="active"
          {{ end }}
        >
          Storage
        </a>
      </li>
      <li>
        <a
          hx-boost="true"
          href="/dahua/events"
          {{ if eq "/dahua/events" .URL.Path }}class="active"{{ end }}
        >
          Events
        </a>
        <ul>
          <li>
            <a
              hx-boost="true"
              href="/dahua/events/live"
              {{ if eq "/dahua/events/live" .URL.Path }}
                class="active"
              {{ end }}
            >
              Live
            </a>
          </li>
          <li>
            <a
              hx-boost="true"
              href="/dahua/events/rules"
              {{ if eq "/dahua/events/rules" .URL.Path }}
                class="active"
              {{ end }}
            >
              Rules
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
