<ul
  class="flex flex-wrap justify-center border-b border-gray-200 px-4 text-center text-sm font-medium text-gray-500 dark:border-gray-700 dark:text-gray-400">
  <li class="me-2">
    <a hx-boost="true" href="/dahua" {{if eq .URI "/dahua" }} aria-current="page"
      class="active inline-block rounded-t-lg bg-gray-100 p-4 text-blue-600 dark:bg-gray-800 dark:text-blue-500"
      {{else}}
      class="inline-block rounded-t-lg p-4 hover:bg-gray-50 hover:text-gray-600 dark:hover:bg-gray-800 dark:hover:text-gray-300"
      {{end}}>Home</a>
  </li>
  <li class="me-2">
    <a hx-boost="true" href="/dahua/cameras" {{if hasPrefix "/dahua/cameras" .URI }} aria-current="page"
      class="active inline-block rounded-t-lg bg-gray-100 p-4 text-blue-600 dark:bg-gray-800 dark:text-blue-500"
      {{else}}
      class="inline-block rounded-t-lg p-4 hover:bg-gray-50 hover:text-gray-600 dark:hover:bg-gray-800 dark:hover:text-gray-300"
      {{end}}>Cameras</a>
  </li>
  <li class="me-2">
    <a hx-boost="true" href="/dahua/data" {{if hasPrefix "/dahua/data" .URI }} aria-current="page"
      class="active inline-block rounded-t-lg bg-gray-100 p-4 text-blue-600 dark:bg-gray-800 dark:text-blue-500"
      {{else}}
      class="inline-block rounded-t-lg p-4 hover:bg-gray-50 hover:text-gray-600 dark:hover:bg-gray-800 dark:hover:text-gray-300"
      {{end}}>Data</a>
  </li>
  <li class="me-2">
    <a hx-boost="true" href="/dahua/snapshots" {{if hasPrefix "/dahua/snapshots" .URI }} aria-current="page"
      class="active inline-block rounded-t-lg bg-gray-100 p-4 text-blue-600 dark:bg-gray-800 dark:text-blue-500"
      {{else}}
      class="inline-block rounded-t-lg p-4 hover:bg-gray-50 hover:text-gray-600 dark:hover:bg-gray-800 dark:hover:text-gray-300"
      {{end}}>Snapshots</a>
  </li>
  <li class="me-2">
    <a hx-boost="true" href="/dahua/events" {{if hasPrefix "/dahua/events" .URI }} aria-current="page"
      class="active inline-block rounded-t-lg bg-gray-100 p-4 text-blue-600 dark:bg-gray-800 dark:text-blue-500"
      {{else}}
      class="inline-block rounded-t-lg p-4 hover:bg-gray-50 hover:text-gray-600 dark:hover:bg-gray-800 dark:hover:text-gray-300"
      {{end}}>Events</a>
  </li>
</ul>
