{{template "base.html" .}}

{{define "body"}}
{{template "dahua-base.html" .}}
{{end}}

{{define "header-navbar-start"}}
{{template "dahua-base-drawer-button" .}}
{{end}}

{{define "dahua-base-body"}}
{{template "header.html". }}

<div class="px-4">
  <div class="text-sm breadcrumbs">
    <ul>
      <li><a href="/dahua/cameras">Cameras</a></li>
      <li><a href="/dahua/cameras/{{.Data.Camera.ID}}">{{.Data.Camera.ID}}</a></li>
      <li>Update</li>
    </ul>
  </div>

  <div class="flex justify-center">
    <form method="post" class="flex max-w-md flex-1 flex-col gap-4">
      <div class="card-title">Update Camera</div>
      <div class="form-control w-full">
        <label for="name" class="label">
          <span class="label-text">Name</span>
        </label>
        <input id="name" name="name" type="text" placeholder="CAM-1" class="input input-bordered w-full"
          value="{{.Data.Camera.Name}}" />
      </div>
      <div class="form-control w-full">
        <label for="address" class="label">
          <span class="label-text">Address</span>
        </label>
        <input id="address" name="address" type="text" placeholder="192.168.1.108" class="input input-bordered w-full"
          value="{{.Data.Camera.Address}}" />
      </div>
      <div class="form-control w-full">
        <label for="username" class="label">
          <span class="label-text">Username</span>
        </label>
        <input id="username" name="username" type="text" placeholder="admin" class="input input-bordered w-full"
          value="{{.Data.Camera.Username}}" />
      </div>
      <div class="form-control w-full">
        <label for="password" class="label">
          <span class="label-text">Password</span>
        </label>
        <input id="password" name="password" type="password" placeholder="********"
          class="input input-bordered w-full" />
      </div>
      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Location</span>
        </label>
        <select id="location" name="location" class="select select-bordered">
          <option selected value="Local">Local</option>
          <option value="UTC">UTC</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">
        Submit
      </button>
    </form>
  </div>
</div>
{{end}}
