{{ template "base.html" . }}

{{ define "body" }}
  {{ template "dahua-base.html" . }}
{{ end }}

{{ define "header-navbar-start" }}
  {{ template "dahua-base-drawer-button" . }}
{{ end }}

{{ define "dahua-base-body" }}
  {{ template "header.html" . }}


  <main class="min-h-screen">
    <div class="breadcrumbs px-4 text-sm">
      <ul>
        <li><a href="/dahua/devices">Devices</a></li>
        <li>Create</li>
      </ul>
    </div>

    <form
      method="post"
      class="mx-auto flex w-full max-w-md flex-col gap-4 px-4"
    >
      <div class="card-title">Create Device</div>
      <div class="form-control">
        <label for="name" class="label">
          <span class="label-text">Name</span>
        </label>
        <input
          id="name"
          name="name"
          type="text"
          placeholder="Name"
          class="input input-bordered"
        />
      </div>
      <div class="form-control">
        <label for="address" class="label">
          <span class="label-text">Address</span>
        </label>
        <input
          id="address"
          name="address"
          type="text"
          placeholder="Address"
          class="input input-bordered"
        />
      </div>
      <div class="form-control">
        <label for="username" class="label">
          <span class="label-text">Username</span>
        </label>
        <input
          id="username"
          name="username"
          type="text"
          placeholder="Username"
          class="input input-bordered"
        />
      </div>
      <div class="form-control">
        <label for="password" class="label">
          <span class="label-text">Password</span>
        </label>
        <input
          id="password"
          name="password"
          type="password"
          placeholder="Password"
          class="input input-bordered"
          required
        />
      </div>
      <div class="form-control">
        <label class="label">
          <span class="label-text">Location</span>
        </label>
        <select id="location" name="location" class="select select-bordered">
          {{ with first .Data.Locations }}
            <option selected value="{{ . }}">{{ . }}</option>
          {{ end }}
          {{ range rest .Data.Locations }}
            <option>{{ . }}</option>
          {{ end }}
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </main>

  {{ template "footer.html" . }}
{{ end }}
