{{ template "base.html" . }}

{{ define "body" }}
  {{ template "dahua-base.html" . }}
{{ end }}

{{ define "header-navbar-start" }}
  {{ template "dahua-base-drawer-button" . }}
{{ end }}

{{ define "dahua-base-body" }}
  {{ template "header.html" . }}

  {{ template "dahua-events-header.html" . }}


  <main class="min-h-screen">
    <div class="mx-auto flex w-full max-w-xl flex-col gap-4 px-4">
      <div class="border-b-base-content flex justify-between gap-4">
        <div class="card-title">Create Event Rule</div>
      </div>

      <form hx-post="{{ .URL.Path }}/create" hx-target="#htmx">
        <label class="form-control">
          <div class="label">
            <span class="label-text">Code</span>
          </div>
          <div class="flex gap-4">
            <input
              type="text"
              class="input input-bordered w-full"
              name="Code"
              placeholder="Code"
            />
            <button class="btn btn-primary no-animation" type="submit">
              Create
            </button>
          </div>
        </label>
      </form>
    </div>

    <div class="divider"></div>

    <div id="htmx" class="flex flex-col gap-4">
      {{ block "htmx" . }}
        <form
          class="mx-auto flex w-full max-w-xl flex-col gap-4 px-4"
          hx-post="/dahua/events/rules"
          hx-target="#htmx"
        >
          <div class="border-b-base-content flex justify-between gap-4">
            <div class="card-title">Event Rules</div>
            <div class="join">
              <button class="btn btn-sm join-item" hx-get="/dahua/events/rules">
                Refresh
              </button>
              <button
                class="btn btn-sm join-item btn-primary"
                type="submit"
                name="Action"
                value="Update"
              >
                Update
              </button>
              <button
                class="btn btn-sm join-item btn-error"
                type="submit"
                name="Action"
                value="Delete"
              >
                Delete
              </button>
            </div>
          </div>
          <div class="overflow-x-auto">
            <table class="table-xs table">
              <thead>
                <tr>
                  <th class="w-0">
                    <label>
                      <input type="checkbox" class="checkbox" />
                    </label>
                  </th>
                  <th>Code</th>
                  <th class="w-0">DB</th>
                  <th class="w-0">Live</th>
                  <th class="w-0">MQTT</th>
                </tr>
              </thead>
              <tbody>
                {{ range $index, $val := .Data.Rules }}
                  <tr {{ if not .Code }}class="bg-base-200"{{ end }}>
                    <th>
                      <label>
                        <input
                          type="hidden"
                          name="Rules.{{ $index }}.ID"
                          value="{{ .ID }}"
                        />
                        <input
                          name="Rules.{{ $index }}.Selected"
                          type="checkbox"
                          class="checkbox"
                          {{ if not .Code }}disabled{{ end }}
                        />
                      </label>
                    </th>
                    <td>
                      {{ if .Code }}
                        <input
                          type="text"
                          class="input input-sm w-full"
                          size="20"
                          name="Rules.{{ $index }}.Code"
                          value="{{ .Code }}"
                        />
                      {{ else }}
                        <input
                          type="hidden"
                          name="Rules.{{ $index }}.Code"
                          value="{{ .Code }}"
                        />
                        <div class="font-bold">All</div>
                      {{ end }}
                    </td>
                    <td>
                      <input
                        type="checkbox"
                        name="Rules.{{ $index }}.DB"
                        {{ if not .IgnoreDb }}checked="checked"{{ end }}
                        class="checkbox checkbox-sm"
                      />
                    </td>
                    <td>
                      <input
                        type="checkbox"
                        name="Rules.{{ $index }}.Live"
                        {{ if not .IgnoreLive }}checked="checked"{{ end }}
                        class="checkbox checkbox-sm"
                      />
                    </td>
                    <td>
                      <input
                        type="checkbox"
                        name="Rules.{{ $index }}.MQTT"
                        {{ if not .IgnoreMqtt }}checked="checked"{{ end }}
                        class="checkbox checkbox-sm"
                      />
                    </td>
                  </tr>
                {{ end }}
              </tbody>
            </table>
          </div>
        </form>
      {{ end }}
    </div>
  </main>

  {{ template "footer.html". }}
{{ end }}
