{{ template "base.html" . }}

{{ define "body" }}
  {{ template "dahua-base.html" . }}
{{ end }}

{{ define "header-navbar-start" }}
  {{ template "dahua-base-drawer-button" . }}
{{ end }}

{{ define "dahua-base-body" }}
  {{ template "header.html" . }}


  <main class="min-h-screen">
    <div class="breadcrumbs px-4 text-sm">
      <ul>
        <li><a href="/dahua/events">Events</a></li>
        <li>Live</li>
      </ul>
    </div>

    <div hx-target="this">
      {{ block "htmx" . }}
        <form
          class="flex flex-col items-end gap-4 px-4 md:flex-row"
          hx-get="{{ .URL.Path }}"
        >
          <input type="hidden" name="Data" value="{{ .Data.Params.Data }}" />

          <div class="form-control w-full">
            <label class="label">
              <span class="label-text">Devices</span>
            </label>

            <select name="DeviceID" class="select select-bordered" multiple>
              <option
                value=""
                {{ if eq (len $.Data.Params.DeviceID) 0 }}selected{{ end }}
              >
                All
              </option>
              {{ range .Data.Devices }}
                <option
                  {{ if has .ID $.Data.Params.DeviceID }}selected{{ end }}
                  value="{{ .ID }}"
                >
                  {{ .Name }}
                </option>
              {{ end }}
            </select>
          </div>

          <div class="form-control w-full">
            <label class="label">
              <span class="label-text">Event Codes</span>
            </label>

            <select name="Code" class="select select-bordered" multiple>
              <option
                value=""
                {{ if eq (len $.Data.Params.Code) 0 }}selected{{ end }}
              >
                All
              </option>
              {{ range .Data.EventCodes }}
                <option {{ if has . $.Data.Params.Code }}selected{{ end }}>
                  {{ . }}
                </option>
              {{ end }}
            </select>
          </div>

          <div class="form-control w-full">
            <label class="label">
              <span class="label-text">Event Actions</span>
            </label>

            <select name="Action" class="select select-bordered" multiple>
              <option
                value=""
                {{ if eq (len $.Data.Params.Action) 0 }}selected{{ end }}
              >
                All
              </option>
              {{ range .Data.EventAction }}
                <option {{ if has . $.Data.Params.Action }}selected{{ end }}>
                  {{ . }}
                </option>
              {{ end }}
            </select>
          </div>

          <div class="flex w-full flex-col gap-2 md:w-auto">
            <button class="btn btn-info flex-1" type="submit">Apply</button>
          </div>
        </form>

        <div class="divider"></div>

        <div class="flex flex-col gap-4 px-4">
          <div class="join flex justify-end">
            {{ if .Data.Params.Data }}
              <a
                class="btn join-item btn-sm"
                {{ $url := URLQuery .URL.Path .Data.Params `Data` false }}
                href="{{ $url }}"
                hx-get="{{ $url }}"
                >Hide Data</a
              >
            {{ else }}
              <a
                class="btn join-item btn-sm"
                {{ $url := URLQuery .URL.Path .Data.Params `Data` true }}
                href="{{ $url }}"
                hx-get="{{ $url }}"
                >Show Data</a
              >
            {{ end }}
          </div>

          <div class="overflow-x-auto">
            <table class="table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Device ID</th>
                  <th>Code</th>
                  <th>Action</th>
                  <th>Created At</th>
                </tr>
              </thead>
              <tbody
                hx-ext="sse"
                sse-connect="{{ URLQuery `/dahua/events/stream` .Data.Params }}"
                hx-target="this"
              >
                <tr class="hidden" sse-swap="message" hx-swap="afterend"></tr>
              </tbody>
            </table>
          </div>
        </div>
      {{ end }}
    </div>
  </main>

  {{ template "footer.html" . }}
{{ end }}

{{ define "event-row" }}
  {{ with .Data.Event }}
    <tr>
      <th>
        {{ .ID }}
      </th>
      <td>
        <a class="link" href="/dahua/devices/{{ .DeviceID }}">
          {{ .DeviceID }}
        </a>
      </td>
      <td>
        {{ .Code }}
      </td>
      <td>
        {{ .Action }}
      </td>
      <td>
        {{ SLFormatDate .CreatedAt }}
      </td>
    </tr>
    {{ if .ID }}
      <tr>
        <td colspan="5" class="p-0">
          {{ if $.Data.Params.Data }}
            {{ template "dahua-events-data-json" . }}
          {{ else }}
            <button
              class="btn btn-sm no-animation w-full"
              hx-get="/dahua/events/{{ .ID }}/data"
              hx-swap="outerHTML"
              hx-target="this"
            >
              Show Data
            </button>
          {{ end }}
        </td>
      </tr>
    {{ else }}
      <tr>
        <td colspan="5" class="p-0">
          {{ if $.Data.Params.Data }}
            {{ template "dahua-events-data-json" . }}
          {{ end }}
        </td>
      </tr>
    {{ end }}
  {{ end }}
{{ end }}
