{{ template "base.html" . }}

{{ define "body" }}
  {{ template "dahua-base.html" . }}
{{ end }}

{{ define "header-navbar-start" }}
  {{ template "dahua-base-drawer-button" . }}
{{ end }}

{{ define "dahua-base-body" }}
  {{ template "header.html" . }}

  {{ template "dahua-events-header.html" . }}


  <main class="px-4 min-h-screen">
    <div class="flex flex-col gap-4">
      <div class="overflow-x-auto">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Camera ID</th>
              <th>Code</th>
              <th>Action</th>
              <th>Created At</th>
            </tr>
          </thead>
          <tbody hx-ext="sse" sse-connect="/dahua/events/stream">
            <tr class="hidden" sse-swap="message" hx-swap="afterend"></tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>

  {{ template "footer.html" . }}
{{ end }}

{{ define "event-row" }}
  {{ with .Data.Event }}
    <tr>
      <th>
        {{ .ID }}
      </th>
      <td>
        <a class="link" href="/dahua/cameras/{{ .CameraID }}">
          {{ .CameraID }}
        </a>
      </td>
      <td>
        {{ .Code }}
      </td>
      <td>
        {{ .Action }}
      </td>
      <td>
        {{ SLFormatDate .CreatedAt }}
      </td>
    </tr>
    <tr>
      <td colspan="5" class="p-0">
        <x-json json="{{ .Data | toPrettyJson }}" />
      </td>
    </tr>
  {{ end }}
{{ end }}
