{{ template "base.html" . }}

{{ define "body" }}
  {{ template "dahua-base.html" . }}
{{ end }}

{{ define "header-navbar-start" }}
  {{ template "dahua-base-drawer-button" . }}
{{ end }}

{{ define "dahua-base-body" }}
  {{ template "header.html" . }}


  <main class="min-h-screen">
    <div class="breadcrumbs px-4 text-sm">
      <ul>
        <li>Cameras</li>
      </ul>
    </div>

    <section>
      <form
        class="flex flex-col gap-4 px-4"
        method="post"
        hx-post="/dahua/cameras"
      >
        {{ block "htmx-cameras" . }}
          <div class="border-b-base-content flex justify-between gap-4">
            <div class="card-title" id="cameras">
              <a href="#cameras">Cameras</a>
            </div>
            <div class="join">
              <a
                href="/dahua/cameras/create"
                class="btn btn-sm btn-primary join-item"
              >
                Create
              </a>
              <button
                class="btn btn-sm join-item btn-error"
                type="submit"
                name="Action"
                value="Delete"
              >
                Delete
              </button>
            </div>
          </div>
          <div class="overflow-x-auto">
            <table class="table">
              <thead>
                <tr>
                  <th class="w-0">
                    <label>
                      <input type="checkbox" class="checkbox" />
                    </label>
                  </th>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Address</th>
                  <th>Username</th>
                  <th>Location</th>
                  <th>Created At</th>
                  <th>Updated At</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {{ range $index, $val := .Data.Cameras }}
                  <tr>
                    <th>
                      <label>
                        <input
                          type="hidden"
                          name="Cameras.{{ $index }}.ID"
                          value="{{ .ID }}"
                        />
                        <input
                          name="Cameras.{{ $index }}.Selected"
                          type="checkbox"
                          class="checkbox"
                        />
                      </label>
                    </th>
                    <th id="camera-{{ $val.ID }}">
                      <a href="#camera-{{ $val.ID }}">
                        {{ $val.ID }}
                      </a>
                    </th>
                    <td>{{ $val.Name }}</td>
                    <td>{{ $val.Address }}</td>
                    <td>{{ $val.Username }}</td>
                    <td>{{ $val.Location }}</td>
                    <td>
                      <div
                        class="tooltip"
                        data-tip="{{ TimeHumanize $val.CreatedAt }}"
                      >
                        {{ SLFormatDate $val.CreatedAt }}
                      </div>
                    </td>
                    <td>
                      <div
                        class="tooltip"
                        data-tip="{{ TimeHumanize $val.UpdatedAt }}"
                      >
                        {{ SLFormatDate $val.UpdatedAt }}
                      </div>
                    </td>
                    <td>
                      <div class="join">
                        <a
                          class="btn-xs join-item btn"
                          href="/dahua/cameras/{{ $val.ID }}"
                        >
                          View
                        </a>
                        <a
                          class="btn-xs btn join-item btn-primary"
                          href="/dahua/cameras/{{ $val.ID }}/update"
                        >
                          Update
                        </a>
                      </div>
                    </td>
                  </tr>
                {{ end }}
              </tbody>
            </table>
          </div>
        {{ end }}
      </form>
    </section>

    <div class="divider"></div>

    <section>
      <form
        class="flex flex-col gap-4 px-4"
        method="post"
        action="/dahua/cameras/file-cursors"
        hx-post="/dahua/cameras/file-cursors"
      >
        {{ block "htmx-file-cursors" . }}
          <div class="border-b-base-content flex justify-between gap-4">
            <div class="card-title" id="file-cursors">
              <a href="#file-cursors">File Cursors</a>
            </div>
            <div class="join">
              <button
                class="btn btn-sm join-item"
                type="submit"
                hx-get="/dahua/cameras/file-cursors"
                hx-target="closest form"
              >
                Refresh
              </button>
              <button
                class="btn btn-sm join-item btn-primary"
                type="submit"
                name="Action"
                value="Quick"
              >
                Quick Scan
              </button>
              <button
                class="btn btn-sm join-item btn-primary"
                type="submit"
                name="Action"
                value="Full"
              >
                Full Scan
              </button>
              <button
                class="btn btn-sm join-item btn-error"
                type="submit"
                name="Action"
                value="Reset"
              >
                Reset
              </button>
            </div>
          </div>
          <div class="overflow-x-auto">
            <table class="table">
              <thead>
                <tr>
                  <th class="w-0">
                    <label>
                      <input type="checkbox" class="checkbox" />
                    </label>
                  </th>
                  <th>Camera ID</th>
                  <th>Files</th>
                  <th>Percent</th>
                  <th>Quick Cursor</th>
                  <th>Full Cursor</th>
                  <th>Full Epoch</th>
                  <th>Full Complete</th>
                </tr>
              </thead>
              <tbody>
                {{ range $index, $val := .Data.FileCursors }}
                  <tr>
                    <th>
                      <label>
                        <input
                          type="hidden"
                          name="FileCursors.{{ $index }}.CameraID"
                          value="{{ .CameraID }}"
                        />
                        {{ if .Locked }}
                          <span
                            class="loading loading-spinner loading-sm"
                          ></span>
                        {{ else }}
                          <input
                            name="FileCursors.{{ $index }}.Selected"
                            type="checkbox"
                            class="checkbox"
                          />
                        {{ end }}
                      </label>
                    </th>
                    <th>
                      <a href="#camera-{{ .CameraID }}">
                        {{ .CameraID }}
                      </a>
                    </th>
                    <td>{{ .Files }}</td>
                    <td>{{ round .Percent 2 }}%</td>
                    <td>{{ SLFormatDate .QuickCursor }}</td>
                    <td>{{ SLFormatDate .FullCursor }}</td>
                    <td>{{ SLFormatDate .FullEpoch }}</td>
                    <td>{{ .FullComplete }}</td>
                  </tr>
                {{ end }}
              </tbody>
            </table>
          </div>
        {{ end }}
      </form>
    </section>

    <div class="divider"></div>

    <section class="flex flex-col gap-4 px-4">
      <div class="border-b-base-content flex justify-between gap-4">
        <div class="card-title" id="event-workers">
          <a href="#event-workers">Event Workers</a>
        </div>
      </div>
      <div class="overflow-x-auto">
        <table class="table">
          <thead>
            <tr>
              <th>Camera ID</th>
              <th>State</th>
              <th>Created At</th>
            </tr>
          </thead>
          <tbody>
            {{ range $index, $val := .Data.EventWorkers }}
              <tr>
                <th>
                  <a href="#camera-{{ .CameraID }}">
                    {{ .CameraID }}
                  </a>
                </th>
                <td>{{ .State }}</td>
                <td>
                  <div class="tooltip" data-tip="{{ TimeHumanize .CreatedAt }}">
                    {{ SLFormatDate .CreatedAt }}
                  </div>
                </td>
              </tr>
              {{ if .Error.Value }}
                <tr class="bg-error text-error-content">
                  <td colspan="3">{{ .Error.Value }}</td>
                </tr>
              {{ end }}
            {{ end }}
          </tbody>
        </table>
      </div>
    </section>

    <div class="divider"></div>

    <div
      class="flex justify-center"
      hx-get="/dahua/cameras"
      hx-swap="outerHTML"
      hx-trigger="load"
    >
      <span class="loading loading-spinner loading-md"></span>
    </div>
  </main>

  {{ template "footer.html". }}
{{ end }}

{{ define "htmx" }}
  {{ template "tables" .Data }}
{{ end }}

{{ define "tables" }}

  <section class="flex flex-col gap-4 px-4">
    <div class="border-b-base-content flex justify-between gap-4">
      <div class="card-title" id="status">
        <a href="#status"> Status </a>
      </div>
    </div>
    <div class="overflow-x-auto">
      <table class="table">
        <thead>
          <tr>
            <th>Camera ID</th>
            <th>RPC State</th>
            <th>RPC Last Login</th>
            <th>RPC Error</th>
          </tr>
        </thead>
        <tbody>
          {{ range $index, $val := .Status }}
            <tr>
              <th>
                <a href="#camera-{{ $val.CameraID }}">
                  {{ $val.CameraID }}
                </a>
              </th>
              <td>{{ $val.RPCState }}</td>
              <td>{{ TimeHumanize $val.RPCLastLogin }}</td>
              <td>{{ $val.RPCError }}</td>
            </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </section>

  <div class="divider"></div>

  <section class="flex flex-col gap-4 px-4">
    <div class="border-b-base-content flex justify-between gap-4">
      <div class="card-title" id="details">
        <a href="#details"> Details </a>
      </div>
    </div>
    <div class="overflow-x-auto">
      <table class="table">
        <thead>
          <tr>
            <th>Camera ID</th>
            <th>SN</th>
            <th>Device Class</th>
            <th>Device Type</th>
            <th>Hardware Version</th>
            <th>Market Area</th>
            <th>Process Info</th>
            <th>Vendor</th>
            <th>Onvif Version</th>
            <th>Algorithm Version</th>
          </tr>
        </thead>
        <tbody>
          {{ range $index, $val := .Details }}
            <tr>
              <th>
                <a href="#camera-{{ $val.CameraID }}">
                  {{ $val.CameraID }}
                </a>
              </th>
              <td>
                <label class="swap">
                  <input type="checkbox" />
                  <div class="swap-on">{{ $val.SN }}</div>
                  <div class="swap-off">***************</div>
                </label>
              </td>
              <td>{{ $val.DeviceClass }}</td>
              <td>{{ $val.DeviceType }}</td>
              <td>{{ $val.HardwareVersion }}</td>
              <td>{{ $val.MarketArea }}</td>
              <td>{{ $val.ProcessInfo }}</td>
              <td>{{ $val.Vendor }}</td>
              <td>{{ $val.OnvifVersion }}</td>
              <td>{{ $val.AlgorithmVersion }}</td>
            </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </section>

  <div class="divider"></div>

  <section class="flex flex-col gap-4 px-4">
    <div class="border-b-base-content flex justify-between gap-4">
      <div class="card-title" id="software-versions">
        <a href="#software-versions"> Software Versions </a>
      </div>
    </div>
    <div class="overflow-x-auto">
      <table class="table">
        <thead>
          <tr>
            <th>Camera ID</th>
            <th>Build</th>
            <th>Build Date</th>
            <th>Security Baseline Version</th>
            <th>Version</th>
            <th>Web Version</th>
          </tr>
        </thead>
        <tbody>
          {{ range $index, $val := .SoftwareVersions }}
            <tr>
              <th>
                <a href="#camera-{{ $val.CameraID }}">
                  {{ $val.CameraID }}
                </a>
              </th>
              <td>{{ $val.Build }}</td>
              <td>{{ $val.BuildDate }}</td>
              <td>{{ $val.SecurityBaseLineVersion }}</td>
              <td>{{ $val.Version }}</td>
              <td>{{ $val.WebVersion }}</td>
            </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </section>

  <div class="divider"></div>

  <section class="flex flex-col gap-4 px-4">
    <div class="border-b-base-content flex justify-between gap-4">
      <div class="card-title" id="storage">
        <a href="#storage"> Storage </a>
      </div>
    </div>
    <div class="overflow-x-auto">
      <table class="table">
        <thead>
          <tr>
            <th>Camera ID</th>
            <th>Name</th>
            <th>State</th>
            <th>Path</th>
            <th>Type</th>
            <th>Used</th>
            <th>Total</th>
            <th>Is Error</th>
          </tr>
        </thead>
        <tbody>
          {{ range $index, $val := .Storage }}
            <tr>
              <th>
                <a href="#camera-{{ $val.CameraID }}">
                  {{ $val.CameraID }}
                </a>
              </th>
              <td>{{ $val.Name }}</td>
              <td>{{ $val.State }}</td>
              <td>{{ $val.Path }}</td>
              <td>{{ $val.Type }}</td>
              <td>{{ $val.UsedBytes | BytesHumanize }}</td>
              <td>{{ $val.TotalBytes | BytesHumanize }}</td>
              <td>{{ $val.IsError }}</td>
            </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </section>

  <div class="divider"></div>

  <section class="flex flex-col gap-4 px-4">
    <div class="border-b-base-content flex justify-between gap-4">
      <div class="card-title" id="licenses">
        <a href="#licenses"> Licenses </a>
      </div>
    </div>
    <div class="overflow-x-auto">
      <table class="table">
        <thead>
          <tr>
            <th>Camera ID</th>
            <th>Abroad Info</th>
            <th>All Type</th>
            <th>Digit Channel</th>
            <th>Effective Days</th>
            <th>Effective Time</th>
            <th>License ID</th>
            <th>Product Type</th>
            <th>Status</th>
            <th>Username</th>
          </tr>
        </thead>
        <tbody>
          {{ range $index, $val := .Licenses }}
            <tr>
              <th>
                <a href="#camera-{{ $val.CameraID }}">
                  {{ $val.CameraID }}
                </a>
              </th>
              <td>{{ $val.AbroadInfo }}</td>
              <td>{{ $val.AllType }}</td>
              <td>{{ $val.DigitChannel }}</td>
              <td>{{ $val.EffectiveDays }}</td>
              <td>
                <div
                  class="tooltip"
                  data-tip="{{ TimeHumanize $val.EffectiveTime }}"
                >
                  {{ SLFormatDate $val.EffectiveTime }}
                </div>
              </td>
              <td>{{ $val.LicenseID }}</td>
              <td>{{ $val.ProductType }}</td>
              <td>{{ $val.Status }}</td>
              <td>{{ $val.Username }}</td>
            </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </section>

  <div class="divider"></div>

  <section class="flex flex-col gap-4 px-4">
    <div class="border-b-base-content flex justify-between gap-4">
      <div class="card-title" id="coaxial-status">
        <a href="#coaxial-status"> Coaxial Status </a>
      </div>
    </div>
    <div class="overflow-x-auto">
      <table class="table">
        <thead>
          <tr></tr>
          <tr>
            <th>Camera ID</th>
            <th>White Light</th>
            <th>Speaker</th>
          </tr>
        </thead>
        <tbody>
          {{ range $index, $val := .CoaxialStatus }}
            <tr>
              <th>
                <a href="#camera-{{ $val.CameraID }}">
                  {{ $val.CameraID }}
                </a>
              </th>
              <td>{{ $val.WhiteLight }}</td>
              <td>{{ $val.Speaker }}</td>
            </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </section>
{{ end }}
