{{ template "base.html" . }}

{{ define "body" }}
  {{ template "dahua-base.html" . }}
{{ end }}

{{ define "header-navbar-start" }}
  {{ template "dahua-base-drawer-button" . }}
{{ end }}

{{ define "dahua-base-body" }}
  {{ template "header.html" . }}

  {{ template "dahua-events-header.html" . }}


  <main class="flex min-h-screen flex-col px-4" hx-target="this">
    {{ block "htmx" . }}
      <form
        class="i flex flex-col items-end gap-4 sm:flex-row"
        hx-get="/dahua/events"
      >
        <input type="hidden" name="Data" value="{{ .Data.Params.Data }}" />

        <div class="form-control w-full">
          <label class="label">
            <span class="label-text">Cameras</span>
          </label>

          <select name="CameraID" class="select select-bordered" multiple>
            <option
              value=""
              {{ if eq (len $.Data.Params.CameraID) 0 }}selected{{ end }}
            >
              All
            </option>
            {{ range .Data.Cameras }}
              <option
                {{ if has .ID $.Data.Params.CameraID }}selected{{ end }}
                value="{{ .ID }}"
              >
                {{ .Name }}
              </option>
            {{ end }}
          </select>
        </div>

        <div class="form-control w-full">
          <label class="label">
            <span class="label-text">Event Codes</span>
          </label>

          <select name="Code" class="select select-bordered" multiple>
            <option
              value=""
              {{ if eq (len $.Data.Params.Code) 0 }}selected{{ end }}
            >
              All
            </option>
            {{ range .Data.EventCodes }}
              <option {{ if has . $.Data.Params.Code }}selected{{ end }}>
                {{ . }}
              </option>
            {{ end }}
          </select>
        </div>

        <div class="form-control w-full">
          <label class="label">
            <span class="label-text">Event Actions</span>
          </label>

          <select name="Action" class="select select-bordered" multiple>
            <option
              value=""
              {{ if eq (len $.Data.Params.Action) 0 }}selected{{ end }}
            >
              All
            </option>
            {{ range .Data.EventAction }}
              <option {{ if has . $.Data.Params.Action }}selected{{ end }}>
                {{ . }}
              </option>
            {{ end }}
          </select>
        </div>

        <div class="flex w-full flex-col gap-2 sm:w-auto">
          <a class="btn flex-1" href="{{ .URL.Path }}" hx-get="{{ .URL.Path }}">
            Reset
          </a>
          <button class="btn btn-info flex-1" type="submit">Apply</button>
        </div>
      </form>

      <div class="divider"></div>

      <div class="flex flex-col gap-4">
        {{ template "pagination" . }}


        <div class="flex flex-col gap-4">
          <div class="overflow-x-auto">
            <table class="table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Camera ID</th>
                  <th>Code</th>
                  <th>Action</th>
                  <th>Created At</th>
                </tr>
              </thead>
              <tbody>
                {{ range .Data.Events.Data }}
                  <tr>
                    <th>
                      {{ .ID }}
                    </th>
                    <td>
                      {{ .CameraID }}
                    </td>
                    <td>
                      {{ .Code }}
                    </td>
                    <td>
                      {{ .Action }}
                    </td>
                    <td title="">
                      <div
                        class="tooltip"
                        data-tip="{{ TimeHumanize .CreatedAt }}"
                      >
                        {{ SLFormatDate .CreatedAt }}
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="5" class="p-0">
                      {{ if $.Data.Params.Data }}
                        {{ block "hx-event-data" . }}
                          <x-json json="{{ .Data | toPrettyJson }}" />
                        {{ end }}
                      {{ else }}
                        <button
                          class="btn btn-sm w-full"
                          hx-get="{{ $.URL.Path }}/{{ .ID }}/data"
                          hx-swap="outerHTML"
                          hx-target="this"
                        >
                          Load Data
                        </button>
                      {{ end }}
                    </td>
                  </tr>
                {{ end }}
              </tbody>
            </table>
          </div>
        </div>

        {{ if gt (len .Data.Events.Data) 0 }}
          {{ template "pagination" . }}
        {{ end }}
      </div>
    {{ end }}
  </main>

  {{ template "footer.html". }}
{{ end }}

{{ define "pagination" }}
  <div class="flex flex-col justify-between gap-4 sm:flex-row sm:items-center">
    <div
      class="flex flex-1 items-center justify-between gap-4 sm:justify-start"
    >
      <div class="whitespace-nowrap">
        {{ .Data.Events.Seen }} of
        {{ .Data.Events.TotalItems }}
      </div>

      <form hx-get="/dahua/events" hx-trigger="change">
        {{ range .Data.Params.Code }}
          <input type="hidden" name="Code" value="{{ . }}" />
        {{ end }}
        {{ range .Data.Params.Action }}
          <input type="hidden" name="Action" value="{{ . }}" />
        {{ end }}
        {{ range .Data.Params.CameraID }}
          <input type="hidden" name="CameraID" value="{{ . }}" />
        {{ end }}
        <input type="hidden" name="Data" value="{{ .Data.Params.Data }}" />

        <div class="form-control w-full">
          <select name="PerPage" class="select select-bordered">
            <option disabled>Per Page</option>
            {{ range list 10 25 100 }}
              <option {{ if eq . $.Data.Params.PerPage }}selected{{ end }}>
                {{ . }}
              </option>
            {{ end }}
          </select>
        </div>
      </form>
    </div>

    <div class="join flex justify-end gap-4">
      {{ if .Data.Params.Data }}
        <a
          class="btn"
          {{ $url := list .URL.Path (Query .Data.Params `Data` false) | join `?` }}
          href="{{ $url }}"
          hx-get="{{ $url }}"
          >Hide Data</a
        >
      {{ else }}
        <a
          class="btn"
          {{ $url := list .URL.Path (Query .Data.Params `Data` true) | join `?` }}
          href="{{ $url }}"
          hx-get="{{ $url }}"
          >Load Data</a
        >
      {{ end }}
      <div class="join">
        <a
          class="join-item btn"
          {{ if .Data.Events.HasPrevious }}
            {{ $url:= list .URL.Path (Query .Data.Params `Page` .Data.Events.Previous) | join `?` }}
            hx-get="{{ $url }}" href="{{ $url }}"
          {{ else }}
            disabled
          {{ end }}
          >«</a
        >
        <button class="join-item btn">Page {{ .Data.Events.Page }}</button>
        <a
          class="join-item btn"
          {{ if .Data.Events.HasNext }}
            {{ $url:= list .URL.Path (Query .Data.Params `Page` .Data.Events.Next) | join `?` }}
            hx-get="{{ $url }}" href="{{ $url }}"
          {{ else }}
            disabled
          {{ end }}
          >»</a
        >
      </div>
    </div>
  </div>
{{ end }}
