{{ template "base.html" . }}

{{ define "body" }}
  {{ template "dahua-base.html" . }}
{{ end }}

{{ define "header-navbar-start" }}
  {{ template "dahua-base-drawer-button" . }}
{{ end }}

{{ define "dahua-base-body" }}
  {{ template "header.html" . }}


  <main class="min-h-screen">
    <div class="breadcrumbs px-4 text-sm">
      <ul>
        <li><a href="/dahua/credentials">Credentials</a></li>
        <li>{{ .Data.Credential.ID }}</li>
      </ul>
    </div>

    {{ with $credential := .Data.Credential }}
      <form
        method="post"
        class="mx-auto flex w-full max-w-md flex-col gap-4 px-4"
      >
        <div class="card-title">Update Credential</div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Name</span>
          </label>
          <input
            name="name"
            type="text"
            placeholder="Name"
            class="input input-bordered"
            value="{{ .Name }}"
            required
          />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Storage</span>
          </label>
          <select name="Storage" class="select select-bordered">
            {{ range $.Data.Storage }}
              <option {{ if eq . $credential.Storage }}selected{{ end }}>
                {{ . }}
              </option>
            {{ end }}
          </select>
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Server Address</span>
          </label>
          <input
            name="ServerAddress"
            type="text"
            placeholder="Server Address"
            class="input input-bordered"
            required
            value="{{ .ServerAddress }}"
          />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Port</span>
          </label>
          <input
            name="Port"
            type="text"
            placeholder="Port"
            class="input input-bordered"
            value="{{ .Port }}"
          />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Username</span>
          </label>
          <input
            name="Username"
            type="text"
            placeholder="Username"
            class="input input-bordered"
            value="{{ .Username }}"
          />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input
            name="Password"
            type="password"
            placeholder="Password"
            class="input input-bordered"
          />
        </div>
        <div class="form-control">
          <label class="label cursor-pointer">
            <span class="label-text">Update password</span>
            <input name="UpdatePassword" type="checkbox" class="checkbox" />
          </label>
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Remote Directory</span>
          </label>
          <input
            name="RemoteDirectory"
            type="text"
            placeholder="Remote Directory"
            class="input input-bordered"
            value="{{ .RemoteDirectory }}"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    {{ end }}
  </main>

  {{ template "footer.html" . }}
{{ end }}
