{{template "base.html" .}}
{{define "body"}}

{{template "dahua-tabs.html" .}}

<div class="p-4 flex flex-col gap-4">
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-left text-sm text-gray-500 rtl:text-right dark:text-gray-400">
      <caption id="cameras"
        class="bg-white p-5 text-left text-lg font-semibold text-gray-900 rtl:text-right dark:bg-gray-800 dark:text-white">
        <a href="#cameras">Cameras</a>
      </caption>
      <thead class="bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">ID</th>
          <th scope="col" class="px-6 py-3">Name</th>
          <th scope="col" class="px-6 py-3">Address</th>
          <th scope="col" class="px-6 py-3">Username</th>
          <th scope="col" class="px-6 py-3">Created At</th>
        </tr>
      </thead>
      <tbody>
        {{range $index, $val := .Data.Cameras}}
        <tr class="border-b bg-white dark:border-gray-700 dark:bg-gray-800" id="camera-{{$val.ID}}">
          <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">
            <a href="#camera-{{$val.ID}}">
              {{$val.ID}}
            </a>
          </th>
          <td class="px-6 py-4">{{$val.Name}}</td>
          <td class="px-6 py-4">{{$val.Address}}</td>
          <td class="px-6 py-4">{{$val.Username}}</td>
          <td class="px-6 py-4">{{SLFormatDate $val.CreatedAt}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-left text-sm text-gray-500 rtl:text-right dark:text-gray-400">
      <caption id="camera-status"
        class="bg-white p-5 text-left text-lg font-semibold text-gray-900 rtl:text-right dark:bg-gray-800 dark:text-white">
        <a href="#camera-status">
          Status
        </a>
      </caption>
      <thead class="bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">Camera ID</th>
          <th scope="col" class="px-6 py-3">RPC State</th>
          <th scope="col" class="px-6 py-3">RPC Last Login</th>
          <th scope="col" class="px-6 py-3">RPC Error</th>
        </tr>
      </thead>
      <tbody>
        {{range $index, $val := .Data.Status}}
        <tr class="border-b bg-white dark:border-gray-700 dark:bg-gray-800">
          <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">
            <a href="#camera-{{$val.CameraID}}">
              {{$val.CameraID}}
            </a>
          </th>
          <td class="px-6 py-4">{{$val.RPCState}}</td>
          <td class="px-6 py-4">{{TimeHumanize $val.RPCLastLogin}}</td>
          <td class="px-6 py-4">{{$val.RPCError}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-left text-sm text-gray-500 rtl:text-right dark:text-gray-400">
      <caption id="camera-details"
        class="bg-white p-5 text-left text-lg font-semibold text-gray-900 rtl:text-right dark:bg-gray-800 dark:text-white">
        <a href="#details">
          Details
        </a>
      </caption>
      <thead class="bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">Camera ID</th>
          <th scope="col" class="px-6 py-3">SN</th>
          <th scope="col" class="px-6 py-3">Device Class</th>
          <th scope="col" class="px-6 py-3">Device Type</th>
          <th scope="col" class="px-6 py-3">Hardware Version</th>
          <th scope="col" class="px-6 py-3">Market Area</th>
          <th scope="col" class="px-6 py-3">Process Info</th>
          <th scope="col" class="px-6 py-3">Vendor</th>
        </tr>
      </thead>
      <tbody>
        {{range $index, $val := .Data.Details}}
        <tr class="border-b bg-white dark:border-gray-700 dark:bg-gray-800">
          <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">
            <a href="#camera-{{$val.CameraID}}">
              {{$val.CameraID}}
            </a>
          </th>
          <td class="px-6 py-4">{{$val.SN}}</td>
          <td class="px-6 py-4">{{$val.DeviceClass}}</td>
          <td class="px-6 py-4">{{$val.DeviceType}}</td>
          <td class="px-6 py-4">{{$val.HardwareVersion}}</td>
          <td class="px-6 py-4">{{$val.MarketArea}}</td>
          <td class="px-6 py-4">{{$val.ProcessInfo}}</td>
          <td class="px-6 py-4">{{$val.Vendor}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-left text-sm text-gray-500 rtl:text-right dark:text-gray-400">
      <caption id="camera-software-versions"
        class="bg-white p-5 text-left text-lg font-semibold text-gray-900 rtl:text-right dark:bg-gray-800 dark:text-white">
        <a href="#software-versions">
          Software Versions
        </a>
      </caption>
      <thead class="bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">Camera ID</th>
          <th scope="col" class="px-6 py-3">Build</th>
          <th scope="col" class="px-6 py-3">Build Date</th>
          <th scope="col" class="px-6 py-3">Security Baseline Version</th>
          <th scope="col" class="px-6 py-3">Version</th>
          <th scope="col" class="px-6 py-3">Web Version</th>
        </tr>
      </thead>
      <tbody>
        {{range $index, $val := .Data.SoftwareVersions}}
        <tr class="border-b bg-white dark:border-gray-700 dark:bg-gray-800">
          <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">
            <a href="#camera-{{$val.CameraID}}">
              {{$val.CameraID}}
            </a>
          </th>
          <td class="px-6 py-4">{{$val.Build}}</td>
          <td class="px-6 py-4">{{$val.BuildDate}}</td>
          <td class="px-6 py-4">{{$val.SecurityBaseLineVersion}}</td>
          <td class="px-6 py-4">{{$val.Version}}</td>
          <td class="px-6 py-4">{{$val.WebVersion}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-left text-sm text-gray-500 rtl:text-right dark:text-gray-400">
      <caption id="camera-storage"
        class="bg-white p-5 text-left text-lg font-semibold text-gray-900 rtl:text-right dark:bg-gray-800 dark:text-white">
        <a href="#storage">
          Storage
        </a>
      </caption>
      <thead class="bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">Camera ID</th>
          <th scope="col" class="px-6 py-3">Name</th>
          <th scope="col" class="px-6 py-3">State</th>
          <th scope="col" class="px-6 py-3">Path</th>
          <th scope="col" class="px-6 py-3">Type</th>
          <th scope="col" class="px-6 py-3">Used</th>
          <th scope="col" class="px-6 py-3">Total</th>
          <th scope="col" class="px-6 py-3">Is Error</th>
        </tr>
      </thead>
      <tbody>
        {{range $index, $val := .Data.Storage}}
        <tr class="border-b bg-white dark:border-gray-700 dark:bg-gray-800">
          <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">
            <a href="#camera-{{$val.CameraID}}">
              {{$val.CameraID}}
            </a>
          </th>
          <td class="px-6 py-4">{{$val.Name}}</td>
          <td class="px-6 py-4">{{$val.State}}</td>
          <td class="px-6 py-4">{{$val.Path}}</td>
          <td class="px-6 py-4">{{$val.Type}}</td>
          <td class="px-6 py-4">{{$val.UsedBytes | BytesHumanize}}</td>
          <td class="px-6 py-4">{{$val.TotalBytes | BytesHumanize}}</td>
          <td class="px-6 py-4">{{$val.IsError}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-left text-sm text-gray-500 rtl:text-right dark:text-gray-400">
      <caption id="camera-licenses"
        class="bg-white p-5 text-left text-lg font-semibold text-gray-900 rtl:text-right dark:bg-gray-800 dark:text-white">
        <a href="#licenses">
          Licenses
        </a>
      </caption>
      <thead class="bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">Camera ID</th>
          <th scope="col" class="px-6 py-3">Abroad Info</th>
          <th scope="col" class="px-6 py-3">All Type</th>
          <th scope="col" class="px-6 py-3">Digit Channel</th>
          <th scope="col" class="px-6 py-3">Effective Days</th>
          <th scope="col" class="px-6 py-3">Effective Time</th>
          <th scope="col" class="px-6 py-3">License ID</th>
          <th scope="col" class="px-6 py-3">Product Type</th>
          <th scope="col" class="px-6 py-3">Status</th>
          <th scope="col" class="px-6 py-3">Username</th>
        </tr>
      </thead>
      <tbody>
        {{range $index, $val := .Data.Licenses}}
        <tr class="border-b bg-white dark:border-gray-700 dark:bg-gray-800">
          <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">
            <a href="#camera-{{$val.CameraID}}">
              {{$val.CameraID}}
            </a>
          </th>
          <td class="px-6 py-4">{{$val.AbroadInfo}}</td>
          <td class="px-6 py-4">{{$val.AllType}}</td>
          <td class="px-6 py-4">{{$val.DigitChannel}}</td>
          <td class="px-6 py-4">{{$val.EffectiveDays}}</td>
          <td class="px-6 py-4">{{SLFormatDate $val.EffectiveTime}}</td>
          <td class="px-6 py-4">{{$val.LicenseID}}</td>
          <td class="px-6 py-4">{{$val.ProductType}}</td>
          <td class="px-6 py-4">{{$val.Status}}</td>
          <td class="px-6 py-4">{{$val.Username}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-left text-sm text-gray-500 rtl:text-right dark:text-gray-400">
      <caption id="camera-coaxial-status"
        class="bg-white p-5 text-left text-lg font-semibold text-gray-900 rtl:text-right dark:bg-gray-800 dark:text-white">
        <a href="#coaxial-status">
          Coaxial Status
        </a>
      </caption>
      <thead class="bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">Camera ID</th>
          <th scope="col" class="px-6 py-3">White Light</th>
          <th scope="col" class="px-6 py-3">Speaker</th>
        </tr>
      </thead>
      <tbody>
        {{range $index, $val := .Data.CoaxialStatus}}
        <tr class="border-b bg-white dark:border-gray-700 dark:bg-gray-800">
          <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">
            <a href="#camera-{{$val.CameraID}}">
              {{$val.CameraID}}
            </a>
          </th>
          <td class="px-6 py-4">{{$val.WhiteLight}}</td>
          <td class="px-6 py-4">{{$val.Speaker}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
</div>
</div>
{{end}}
