{{ template "base.html" . }}

{{ define "body" }}
  {{ template "dahua-base.html" . }}
{{ end }}

{{ define "header-navbar-start" }}
  {{ template "dahua-base-drawer-button" . }}
{{ end }}

{{ define "dahua-base-body" }}
  {{ template "header.html" . }}


  <main class="min-h-screen">
    <div class="breadcrumbs px-4 text-sm">
      <ul>
        <li>Storage</li>
      </ul>
    </div>

    <section>
      <form
        class="flex flex-col gap-4 px-4"
        method="post"
        action="/dahua/storage/destinations"
        hx-post="/dahua/storage/destinations"
        hx-target="this"
      >
        {{ block "htmx-storage-destination" . }}
          <div class="border-b-base-content flex gap-4">
            <div class="card-title" id="file-cursors">
              <a href="#storage-destinations">Storage Destinations</a>
            </div>
            <div class="join">
              <button
                class="btn btn-sm join-item btn-error"
                type="submit"
                name="Action"
                value="Delete"
              >
                Delete
              </button>
            </div>
            <div class="flex flex-1 justify-end">
              <div class="join">
                <button
                  class="btn btn-sm join-item"
                  type="submit"
                  hx-get="/dahua/storage"
                  hx-target="closest form"
                >
                  Refresh
                </button>
                <a
                  href="/dahua/storage/destinations/create"
                  class="btn btn-sm btn-primary join-item"
                >
                  Create
                </a>
              </div>
            </div>
          </div>
          <div class="overflow-x-auto">
            <table class="table">
              <thead>
                <tr>
                  <th class="w-0">
                    <label>
                      <input
                        type="checkbox"
                        class="checkbox"
                        onchange="tableCheckbox(this)"
                      />
                    </label>
                  </th>
                  <th>Name</th>
                  <th>Storage</th>
                  <th>Server Address</th>
                  <th>Port</th>
                  <th>Username</th>
                  <th>Remote Directory</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {{ range $index, $val := .Data.StorageDestinations }}
                  <tr>
                    <th>
                      <label>
                        <input
                          type="hidden"
                          name="StorageDestinations.{{ $index }}.ID"
                          value="{{ .ID }}"
                        />
                        <input
                          name="StorageDestinations.{{ $index }}.Selected"
                          type="checkbox"
                          class="checkbox"
                        />
                      </label>
                    </th>
                    <th>
                      {{ .Name }}
                    </th>
                    <td>{{ .Storage }}</td>
                    <td>{{ .ServerAddress }}</td>
                    <td>{{ .Port }}</td>
                    <td>{{ .Username }}</td>
                    <td>{{ .RemoteDirectory }}</td>
                    <td>
                      <a
                        class="btn-xs btn btn-primary"
                        href="/dahua/storage/destinations/{{ .ID }}"
                      >
                        Update
                      </a>
                    </td>
                  </tr>
                {{ end }}
              </tbody>
            </table>
          </div>
        {{ end }}
      </form>
    </section>
  </main>

  {{ template "footer.html" . }}
{{ end }}
