{{ template "base.html" . }}

{{ define "body" }}
  {{ template "dahua-base.html" . }}
{{ end }}

{{ define "header-navbar-start" }}
  {{ template "dahua-base-drawer-button" . }}
{{ end }}

{{ define "dahua-base-body" }}
  {{ template "header.html" . }}


  <main class="min-h-screen">
    <div class="breadcrumbs px-4 text-sm">
      <ul>
        <li>Files</li>
      </ul>
    </div>

    <div hx-target="this">
      {{ block "htmx" . }}
        <form
          class="flex flex-col items-end gap-4 px-4 md:flex-row"
          hx-get="{{ .URL.Path }}"
        >
          <div class="form-control w-full">
            <label class="label">
              <span class="label-text">Devices</span>
            </label>

            <select name="DeviceID" class="select select-bordered" multiple>
              <option
                value=""
                {{ if eq (len $.Data.Params.DeviceID) 0 }}selected{{ end }}
              >
                All
              </option>
              {{ range .Data.Devices }}
                <option
                  {{ if has .ID $.Data.Params.DeviceID }}selected{{ end }}
                  value="{{ .ID }}"
                >
                  {{ .Name }}
                </option>
              {{ end }}
            </select>
          </div>

          <div class="form-control w-full">
            <label class="label">
              <span class="label-text">Types</span>
            </label>

            <select name="Type" class="select select-bordered" multiple>
              <option
                value=""
                {{ if eq (len $.Data.Params.Type) 0 }}selected{{ end }}
              >
                All
              </option>
              {{ range .Data.Types }}
                <option {{ if has . $.Data.Params.Type }}selected{{ end }}>
                  {{ . }}
                </option>
              {{ end }}
            </select>
          </div>

          <div class="form-control w-full gap-4">
            <div class="form-control w-full flex-col">
              <label class="label">
                <span class="label-text">Time Range</span>
              </label>
              <input
                class="input input-bordered input-sm"
                type="datetime-local"
                name="Start"
                value="{{ .Data.Params.Start }}"
              />
            </div>
            <div class="form-control w-full flex-col">
              <input
                class="input input-bordered input-sm"
                type="datetime-local"
                name="End"
                value="{{ .Data.Params.End }}"
              />
            </div>
          </div>

          <div class="flex w-full flex-col gap-2 md:w-auto">
            <button class="btn btn-info flex-1" type="submit">Apply</button>
          </div>
        </form>

        <div class="divider"></div>

        <div class="flex flex-col gap-4 px-4">
          <div class="flex justify-end join">
            <button
              hx-post="{{ URLQuery `/dahua/files/download` .Data.Params }}"
              hx-swap="none"
              class="btn btn-sm btn-info join-item"
            >
              Download
            </button>
            <button
              hx-post="{{ URLQuery `/dahua/files` .Data.Params }}"
              class="btn btn-sm btn-info join-item"
            >
              Quick Scan
            </button>
          </div>

          {{ template "pagination" . }}


          <div class="flex flex-wrap justify-center gap-4">
            {{ range .Data.Files.Data }}
              <div>
                <div
                  class="card card-compact bg-base-100 w-full shadow-xl sm:w-64"
                >
                  <figure>
                    <svg
                      hx-get="/dahua/files/{{ .ID }}/thumbnail"
                      hx-target="this"
                      hx-swap="outerHTML"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="currentColor"
                    >
                      {{ if eq .Type "jpg" }}
                        <path
                          d="M2.9918 21C2.44405 21 2 20.5551 2 20.0066V3.9934C2 3.44476 2.45531 3 2.9918 3H21.0082C21.556 3 22 3.44495 22 3.9934V20.0066C22 20.5552 21.5447 21 21.0082 21H2.9918ZM20 15V5H4V19L14 9L20 15ZM20 17.8284L14 11.8284L6.82843 19H20V17.8284ZM8 11C6.89543 11 6 10.1046 6 9C6 7.89543 6.89543 7 8 7C9.10457 7 10 7.89543 10 9C10 10.1046 9.10457 11 8 11Z"
                        ></path>
                      {{ else }}
                        <path
                          d="M3 3.9934C3 3.44476 3.44495 3 3.9934 3H20.0066C20.5552 3 21 3.44495 21 3.9934V20.0066C21 20.5552 20.5551 21 20.0066 21H3.9934C3.44476 21 3 20.5551 3 20.0066V3.9934ZM5 5V19H19V5H5ZM10.6219 8.41459L15.5008 11.6672C15.6846 11.7897 15.7343 12.0381 15.6117 12.2219C15.5824 12.2658 15.5447 12.3035 15.5008 12.3328L10.6219 15.5854C10.4381 15.708 10.1897 15.6583 10.0672 15.4745C10.0234 15.4088 10 15.3316 10 15.2526V8.74741C10 8.52649 10.1791 8.34741 10.4 8.34741C10.479 8.34741 10.5562 8.37078 10.6219 8.41459Z"
                        ></path>
                      {{ end }}
                    </svg>
                  </figure>
                  <div class="card-body">
                    <div class="flex justify-between gap-4">
                      <div
                        class="tooltip"
                        data-tip="{{ TimeHumanize .StartTime }}"
                      >
                        {{ SLFormatDate .StartTime }}
                      </div>
                      <div>
                        <a
                          class="link"
                          href="/v1/dahua/{{ .DeviceID }}/files/{{ .FilePath }}"
                        >
                          {{ .Type }}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {{ end }}
          </div>

          {{ if gt (len .Data.Files.Data) 0 }}
            {{ template "pagination" . }}
          {{ end }}
        </div>
      {{ end }}
    </div>
  </main>

  {{ template "footer.html" . }}
{{ end }}

{{ define "pagination" }}
  <div class="flex flex-col justify-between gap-4 sm:flex-row sm:items-center">
    <div class="flex flex-1 items-center gap-4 sm:justify-start">
      <div class="whitespace-nowrap">
        {{ .Data.Files.Seen }} of
        {{ .Data.Files.TotalItems }}
      </div>

      <div class="form-control">
        <select
          hx-get="{{ URLQuery .URL.Path .Data.Params }}"
          name="PerPage"
          class="select select-bordered"
        >
          <option disabled>Per Page</option>
          {{ range list 10 25 100 }}
            <option {{ if eq . $.Data.Params.PerPage }}selected{{ end }}>
              {{ . }}
            </option>
          {{ end }}
        </select>
      </div>
    </div>

    <div class="flex justify-end gap-4">
      {{ $url := URLQuery .URL.Path .Data.Params `Ascending` (not .Data.Params.Ascending) }}
      <a class="btn" href="{{ $url }}" hx-get="{{ $url }}">
        {{ if .Data.Params.Ascending }}
          ASC
        {{ else }}
          DESC
        {{ end }}
      </a>
      <div class="join">
        <a
          class="join-item btn"
          {{ if .Data.Files.HasPrevious }}
            {{ $url:= URLQuery .URL.Path .Data.Params `Page` .Data.Files.Previous }}
            hx-get="{{ $url }}" href="{{ $url }}"
          {{ else }}
            disabled
          {{ end }}
          >«</a
        >
        <button class="join-item btn">Page {{ .Data.Files.Page }}</button>
        <a
          class="join-item btn"
          {{ if .Data.Files.HasNext }}
            {{ $url:= URLQuery .URL.Path .Data.Params `Page` .Data.Files.Next }}
            hx-get="{{ $url }}" href="{{ $url }}"
          {{ else }}
            disabled
          {{ end }}
          >»</a
        >
      </div>
    </div>
  </div>
{{ end }}

{{ define "htmx-thumbnail" }}
  <img src="{{ .Data }}" />
{{ end }}
